<% if user_signed_in? %>
<% else %>
    <%= link_to 'Sign in', new_user_session_path %> 
    <%= link_to 'Sign up', new_user_registration_path %>
<% end %>
<% if user_signed_in? %>
    <%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %>
<% end %>

<h1>THIS IS HOMEPAGE</h1>

<% if user_signed_in? %>
    <%= link_to 'Book list', "/books" %>
<% else %>
    <%= link_to 'Book list', new_user_session_path %>
<% end %>